* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.html,
.body {
  display: flex;
  flex-direction: column;
  background-color: #FEFCEC;
  height: 100 vh;
}

img.tiny {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

img.icon {
  width: 25px;
  height: 25px;
  position: relative;
  margin: 10px 5px 20px 30px;
  min-height: 25px;
  min-width: 25px;
  vertical-align: middle;
}

img.header__logo {
  width: 480px;
  margin: 0px 30px 20px 0px;
}

.header {
  display: flex;
  width: 100vw;
  height: 15%;
  background-color: #1C2826;
  min-height: 175px;
  flex-grow: 1;
  margin-top: 0px;
}
.text {
  display: inline-block;
  vertical-align: middle;
}

.header__right,
.header__left {
  width: 50%;
  display: flex;
}

.header__left {
  flex-direction: column;
  justify-content: space-between;
}

.header__right {
  justify-content: right;
}

.header__nav-bar-text,
.header__nav-bar {
  color: white;
  font-weight: lighter;
  background-color: inherit;
}

.header__admin {
  display: flex;
  align-items: center;
}
.count {
  font-size: 200%
}
.purple_text {
  color: #8C5383;
}

.main {
  flex-grow: 4;
  display: flex;
  background-color: #FEFCEC;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.date {
  color: #a2a3aa;
  font-size: 75%;
}

.title {
  font-size: 70%;
  margin-top: 15px;
}

.background-img {
  width: 100%;
  position: relative;
}

.url-box {
  background-color: #a2a3aa;
  color: #1C2826;
  margin: 15px 10px 15px 10px;
  padding: 10px;
}
h2 {
  font-size: 130%;
  font-weight: normal;
}

.card-text {
  margin-left: 10px;
  margin-right: 10px;
}

.overlay {
  color: white;
  display: inline;
  font-weight: bolder;
}
.one {
  background-image: url("assets/images/donkey7.svg");
}
.two {
  background-image: url("assets/images/donkey6.svg");
}
.three {
  background-image: url("assets/images/donkey8.svg");
}
.four {
  background-image: url("assets/images/donkey10.svg");
}
.five {
  background-image: url("assets/images/donkey1.svg");
}
.six {
  background-image: url("assets/images/donkey3.svg");
}
.card-photo {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  min-height: 150px;
}

.views-container {
  float: right;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  min-width: 250px;
  border: 2px inset grey;
  background-color: white;
}
